<form [formGroup]="numberGroup">
  <div>
  <label>Number</label>
  <div>
    <span><input type="text" formControlName="number"></span>
    <span><button (click)="addAlternateNumber()">Add Number</button></span>
  </div>
  <div formArrayName="alternateNumbers" *ngFor="let email of alternateNumbers.controls; let i=index">
    <input type="text" [formControlName]="i">
    <button (click)="deleteAlternateNumber(i)">Delete Number</button>
  </div>
  </div>
  <button type="submit" (click)="submit(numberGroup)">Submit</button>
</form>